.navbar {
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 2px solid #fff;
}

.container-fluid {
    padding: 0 30px;
}

.navbar-brand img {
    margin-right: 10px;
}

.categoriesButton {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .container-fluid {
        padding: 0 20px;
    }
}