.waifuCard {
    width: 70%;
    padding: 20px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 10px 0;
}

.waifuPicture {
    width: 90%;
}

.waifuDescription {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-style: italic;
}