* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left bottom, #1c0537, #2c0b4e, #3f0e66, #54117e, #6b1197);
}

.container {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}